body {
    background: hsl(210, 24%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-preview {
    background-image: url(https://github.com/lynnecodes/FM-articlepreviewcomponent/blob/master/images/drawers.jpg?raw=true);
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right-preview {
    font-size: 20px;
    padding: 50px;
    font-family: 'Manrope', sans-serif;
    color: hsl(216, 88%, 3%);
    font-weight: 3s00;
}

.right-preview h2 {
    color: hsl(218, 90%, 4%);
    font-weight: 350;
}

.right-preview p {
    line-height: 20px;
    padding-bottom: 10px;
    padding-right: 4%;
}

.author {
    display: grid;
    grid-template-columns: 70px 1fr 50px;
    grid-gap: 10px;
    margin: auto;
}

.preview {
    background: rgb(237, 243, 239);
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 20px;
    width: auto;
    border-radius: 40px;
    box-shadow: 15px;
    margin: auto;
    margin-top: 3%;
}

.name h4{
    color: hsl(217, 53%, 28%);
    font-size: 15px;
    font-weight: 700;
    margin-top: 160px;
    padding-top: 7px;
    margin-left: 45px;
    margin-right: 45px;
}

.icons{
    margin: auto;
    margin-top: 185px;
    margin-left: -110px;
}

.name p {
    margin: 0px;
}

.avatar img {
    margin-top: 5px;
    border-radius: 100%;
    width: 150px;
    margin-left: 100px;
}

.attribution { 
    font-size: 15px; 
    text-align: justify ;
    padding: 15px;
}

.attribution a { 
    color: hsl(228, 48%, 25%); 
}


